@import 'mixins';

@include font('DMSans', 'DMSans-Regular', '400', normal);
@include font('DMSans', 'DMSans-Medium', '500', normal);
@include font('DMSans', 'DMSans-Bold', '700', normal);
@include font('Actor', 'Actor-regular', '400', normal);

@mixin dmsans($fw) {
    font-family: 'DMSans', sans-serif;
    font-weight: $fw;
}

@mixin actor {
    font-family: 'Actor' , sans-serif;
}